// /*------------------*
// # Base
// *------------------*/

html {
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 100%;
  word-wrap: break-word;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
  background-color: #e5e5e5;
  color: $text-color;
}

.app {
  &-container {
    @apply max-w-6xl mx-auto px-2 sm:px-6 lg:px-8;
  }
}
